.env
.env.*
!.env.example
venv/
.venv/
__pycache__/
.idea/
logs/
notes/
data/
screenshots/
*.pyc
*.log
*.key
*.pyproject.user
*.side
token.json
credentials.json
old_credentials.json
contacts.csv
user_data.csv
PyWhatKit_DB.txt
JarvisGUI/.qtcreator/
JarvisGUI/FaceRecogGUI/.qtcreator/
JarvisGUI/LoginUI/.qtcreator/
**/.qtcreator/

